<div class="collect section" id="about">
    <div class="container">
        <div class="collect__block">
            <h2 class="collect__header">Collect. Attack.</h2>
             <h2 class="collect__header">To anticipate the attack.</h2>
             <div class="collect__item collect__item--item1">
                 <p class="collect__paragraph collect__paragraph--left collect__paragraph--par1">That originated on NetScape </p>
                 <h3 class="collect__subheader collect__subheader--left">We Are The Causal Cybersport 
                     No Bots, Only Player Vs Player</h3>
                 <p class="collect__paragraph collect__paragraph--left collect__paragraph--par2">South Angelchester</p>
                 <h3 class="collect__subheader collect__subheader--left">You Need To Think On Each Your Step 
                     Everything Changes</h3>
                 <p class="collect__paragraph collect__paragraph--left collect__paragraph--par3">How To Set Intentions That Energize You</p>
                 <h3 class="collect__subheader collect__subheader--left">Each Next Battle Will Be With The Stronger Opponent.You Can Add Your Opponent To The Enemy List</h3>
             </div>
             <div class="collect__item collect__item--item2">
                 
             </div>
             <div class="collect__item collect__item--item3">
                 <p class="collect__paragraph collect__paragraph--right collect__paragraph--par1r">in conceptual questions about software</p>
                 <h3 class="collect__subheader collect__subheader--right">Championships. You Can Host One</h3>
                 <p class="collect__paragraph collect__paragraph--right collect__paragraph--par2r">How To Meet That Special Someone</p>
                 <h3 class="collect__subheader collect__subheader--right collect__subheader--smaller">We Are Not A Puzzle Game, We Are A Strategy Game</h3>
                 <p class="collect__paragraph collect__paragraph--right collect__paragraph--par3r collect__paragraph--none">Anonymous Proxy</p>
                 <h3 class="collect__subheader collect__subheader--right collect__subheader--none">Big Variation Of Moves. A Lot Of Strategy.Detailed Statistic About The Player</h3>
             </div>
        </div>
        <a href="#" class="collect__pvp">pvp</a>
        <iframe   src="https://www.youtube.com/embed/QG2q9CgKe3s" style="border:0;" allowfullscreen class="collect__video"></iframe>
        <div class="navbar__button--collect">
            <a href="" class="navbar__button--text navbar__collect__button--text" id="request-modal">REQUEST FOR BETA</a>
        </div>
    </div>
</div>