<div class="credits" id="credits">
    <!--    <img src="img/background/credit-circle.png" alt="" class="credit__circle">-->
        <video loop muted autoplay class="credits__video">
               <source src="img/video/credits.mp4" type="video/mp4">
               <source src="img/video/credits.ogv" type="video/ogg">
               <source src="img/video/credits.webm" type="video/webm">
        </video>
        <div class="container">
           <h2 class="credit__header">Credits & Facts</h2>
            <div class="credit__block">
                <div class="credit__block--wrapp">
                <p class="credit__position credit__position--pos1">Producer</p>
                <p class="credit__name">Maxim Bezugly</p>
                <p class="credit__position credit__position--pos30">Developer</p>
                <p class="credit__name">Andrey Martunuk</p>
                <p class="credit__position credit__position--pos2">UI Designer</p>
                <p class="credit__name">Julia Milgunova</p>
                <p class="credit__position credit__position--pos4">Gem artist</p>
                <p class="credit__name">Natasha Steshenko</p>
                <p class="credit__position credit__position--pos5">Battle interface & 3D designer</p>
                <p class="credit__name">Konstantin Baev</p>
                <p class="credit__position credit__position--blue">Total Creation Time</p>
                <p class="credit__name">Two Years</p>
                <p class="credit__position credit__position--blue">Fellow Participant of development</p>
                <p class="credit__name">8</p>
                </div>
            </div>
            
        </div>
    </div>