<div class="follow section" id="media">
        <div class="container">
            <div class="follow__header">Follow us</div>
            <ul class="follow__socials">
                <li class="follow__social">
                    <a href="https://www.facebook.com/CyberM3-298982180456948/" class="follow__social-link social--fb" target="_blank"></a>
                </li>
                <li class="follow__social">
                    <a href="https://twitter.com/cyber_m3" target="_blank" class="follow__social-link social--twitter"></a>
                </li>
                <li class="follow__social">
                    <a href="https://vk.com/m3cyber" target="_blank" class="follow__social-link social--vk"></a>
                </li>
            </ul>
            <div class="follow__video">
                <iframe width="996" height="448" src="https://www.youtube.com/embed/QG2q9CgKe3s" style="border:0;" allowfullscreen></iframe>
            </div>
            <a href="#" class="follow__button"></a>
        </div>
    </div>