<div class="footer section">
    <div class="container">
        <div class="small-hide">
            <div class="footer__shield"></div>
            <div class="footer__item footer__item--1">
                <span class="footer__find-text footer__find-text--left">Find us on</span>
                <div class="footer__btn footer__btn--facebook">
                    <a href="https://www.facebook.com/CyberM3-298982180456948/" class="footer__btn--link" target="_blank">
                        <i class="footer__icon--facebook"></i>
                        <span class="btn__text">Facebook</span>
                    </a>
                </div>
                <ul class="footer__lang">
                    <li class="lang__item lang__item--item1 active-link active--lang"><a href="#" class="lang__link">en</a></li>
                    <!--
                    <li class="lang__item lang__item--item2"><a href="#" class="lang__link">ru</a></li>
                    <li class="lang__item lang__item--item3"><a href="#" class="lang__link">az</a></li>
                    <li class="lang__item lang__item--item4"><a href="#" class="lang__link">uk</a></li>
                    <li class="lang__item lang__item--item5"><a href="#" class="lang__link">pl</a></li>
-->
                </ul>
            </div>
            <div class="footer__item footer__item--2">

                <div class="footer__main-text"></div>
                <a href="" class="footer__country-link sw"></a>
                <a href="" class="footer__country-link uk"></a>
            </div>
            <div class="footer__item footer__item--3">
                <span class="footer__find-text footer__find-text--right">Follow us on</span>
                <div class="footer__btn footer__btn--twitter">
                    <a href="https://twitter.com/cyber_m3" class="footer__btn--link" target="_blank">
                        <i class="footer__icon--twitter"></i>
                        <span class="btn__text">Twitter</span>
                    </a>
                </div>
                <ul class="footer__privacy">
                    <!--
                    <li class="privacy__item">
                        <a href="" class="privacy__link">privacy policy</a>
                    </li>
                    <li class="privacy__item">
                        <a href="#" class="privacy__link">user agreement</a>
                        </li>
-->
                    <li class="privacy__item">
                        <a href="#" class="privacy__link">support</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="large-hide">
            <div class="footer__main-text">
                <img src="img/icons/ATTRACTIVF.png" alt="">
            </div>
            <div class="footer__shield"></div>
            <a href="" class="footer__country-link sw"></a>
            <a href="" class="footer__country-link uk"></a>
            <div class="footer__attracti-games"></div>
            <div class="footer__btn footer__btn--facebook">
                <a href="https://www.facebook.com/attracti.ukraine/" class="footer__btn--link" target="_blank">
                    <i class="footer__icon--facebook"></i>
                    <span class="btn__text">Facebook</span>
                </a>
            </div>
            <div class="footer__btn footer__btn--twitter">
                <a href="https://twitter.com/attracti" class="footer__btn--link" target="_blank">
                    <i class="footer__icon--twitter"></i>
                    <span class="btn__text">Twitter</span>
                </a>
            </div>
            <div class="footer__languages">
                <span class="languages__text">Languages</span>
                <span class="strategy__arrow"></span>
                <a href="" class="languages__lang">EN</a>
            </div>
            <div class="footer__politics">
                <a href="" class="privacy__link privacy__link--politics ">privacy policy</a>
                <a href="#" class="privacy__link  privacy__link--politics privacy__link--right">user agreement</a>
            </div>
        </div>
    </div>
</div>