<div class="header section" id="header">

    <video loop muted autoplay class="header__video">
        <source src="img/video/header.mp4" type="video/mp4">
        <source src="img/video/header.ogv" type="video/ogg">
        <source src="img/video/header.webm" type="video/webm">
    </video>

    <div class="header__overlay">
        <nav class="navbar navbar--grey">
            <div class="container">
                <ul class="navbar__list">
                   <li class="navbar__item navbar__item0">
                        <a href="#header">
                            <span class="nav-logo-1"></span>
                        </a>
                    </li>
                    <li class="navbar__item navbar__item1">
                        <a href=".collect" class="navbar__link">ABOUT</a>
                    </li>
                    <li class="navbar__item navbar__item2">
                        <a href=".raiting" class="navbar__link">RATINGS</a>
                    </li>
                    <li class="navbar__item navbar__item3">
                        <a href=".credits" class="navbar__link">CREDITS</a>
                    </li>
                    <li class="navbar__item navbar__item4">
                        <a href=".championships" class="navbar__link">CHAMPIONSHIPS</a>
                    </li>
                    <li class="navbar__item navbar__item5">
                        <a href=".strategy" class="navbar__link">STRATEGY</a>
                    </li>
                    <li class="navbar__item navbar__item6">
                        <a href=".news" class="navbar__link">NEWS</a>
                    </li>
                    <li class="navbar__item navbar__item7">
                        <a href=".follow" class="navbar__link">MEDIA</a>
                    </li>
                    <li class="navbar__logo">
                        <img src="img/icons/apple-logo.png" alt="apple-logo" class="navbar__logo--img">
                    </li>

                </ul>
                <div class="navbar__button">
                    <a href="#" class="navbar__button--text">REQUEST FOR BETA</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="header__logo">
                <!--                <img src="img/icons/header-text.png" alt="header-logo">-->
                <!--                <div class="header__logo--m3"></div>-->
                <!--                <div class="header__logo--cyber"></div>-->
                <img src="img/icons/m3.png" alt="" class="header__logo--m3">
                <img src="img/icons/Cyber.png" alt="" class="header__logo--cyber">
                <div class="header__logo--text">casual cyber sport</div>
            </div>
            <div class="header__img">
                <img src="img/icons/iPhone-header.png" alt="header-img">
            </div>
        </div>
    </div>
</div>
<div class="modal__request">
    <div class="modal__close">
        <div class="modal__arrow"></div>
        <div class="modal__back">Back</div>
    </div>
    <h2 class="modal__header">request</h2>
    <input type="email" name="email" class="modal__input" placeholder="email">
    <p class="modal__description">E-mail is requestered in the App store or Play market</p>
    <h3 class="choose-platform">choose your platform</h3>
    <div class="platform">
        <input id="ios" type="radio" name="platform" value="ios" checked>
        <label class="platform__text ios__text" for="ios">ios</label>
        <input id="android" type="radio" name="platform" value="android">
        <label class="platform__text" for="android">Android</label>
    </div>
    <a href="#" class="modal__button" id="modal-req-btn">REQUEST</a>
</div>
<div class="modal__thank">
    <div class="modal__close">
        <div class="modal__arrow"></div>
        <div class="modal__logo"></div>
    </div>
    <h2 class="modal__header--thank">Thank You</h2>
    <p class="modal__description--thank">we have taken your request, during the day to add to the list of participants</p>
    <a href="#" class="modal__button modal__button--thank">see instruction</a>
</div>
<div class="overlay"></div>