<div class="news section" id="news">
       <img src="img/background/NEWS_CIRCLE.png" alt="" class="news__circle">
        <div class="container">
            <div class="news__post news__post--left">
                <div class="post__wrapp ">
                    <div class="post__date">25.10.2016</div>
                    <div class="post__header">Linux Or Windows Which Is It</div>
                    <p class="post__text">Large businesses require a lot of IT infrastructure and a department to look after it. Small business….</p>
                </div>
                <div class="post__wrapp ">
                    <div class="post__date">25.10.2016</div>
                    <div class="post__header">Are You Ready To Buy A Home Theater Audio System</div>
                    <p class="post__text">Large businesses require a lot of IT infrastructure and a department to look after it. Small business….</p>
                </div>
            </div>
            <div class="news__sword"></div>
            <div class="news__post news__post--right">
                <div class="post__wrapp ">
                    <div class="post__date">25.10.2016</div>
                    <div class="post__header">Converter Ipod Video Taking Portable Video Viewing To A Whole New Level</div>
                    <p class="post__text">Large businesses require a lot of IT infrastructure and a department to look after it. Small business….</p>
                </div>
                <div class="post__wrapp fourth-post">
                    <div class="post__date">25.10.2016</div>
                    <div class="post__header">Linux Or Windows Which Is It</div>
                    <p class="post__text">Large businesses require a lot of IT infrastructure and a department to look after it. Small business….</p>
                </div>
                <div class="post__wrapp fifth-post">
                    <div class="post__date">25.10.2016</div>
                    <div class="post__header">Are You Ready To Buy A Home Theater Audio System</div>
                    <p class="post__text">Large businesses require a lot of IT infrastructure and a department to look after it. Small business….</p>
                </div>
            </div>
            <div class="news__dontlose">DON’T LOSE</div>
        </div>
    </div>